:root {

    /* Colors: */
    --unnamed-color-8a8a8f: #8A8A8F;
    --unnamed-color-fd6b05: #FD6B05;
    --unnamed-color-d1d0d4: #D1D0D4;
    --unnamed-color-707070: #707070;
    --unnamed-color-727272: #727272;
    --unnamed-color-fd710c: #FD710C;
    --unnamed-color-2ce836: #2CE836;
    --unnamed-color-ff6700: #FF6700;
    --unnamed-color-848484: #848484;
    --unnamed-color-c8c7cc: #C8C7CC;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-cecece: #CECECE;
    --unnamed-color-000000: #000000;
}

$white:#FFFFFF;
$white1:#F5F5FC;
$white2: #FEFEFE;
$white3: #EAEBF8;
$white4: #D9E0EC;

$black:#000000;
$black1: #2F3858;
$black2: #2C3655;
$black3: #171E33;
$black4: #353C60;

$gray:#262626;
$gray1:#A5A5A5;
$gray2:#3E3E3E;
$gray3:#B1B1B1;
$gray4:#ECECEC;
$gray5: #484C64;
$gray6: #C8C8E2;
$gray7: #B5BEC9;
$gray8: #9D9D9D;
$gray9: #C5D2EC;
$gray10: #BFBFBF;
$gray11: #E2E9F5;
$gray12: #D5D0FE;

$blue: #8C9DFB;
$blue1: #7784F0;
$blue2: #8190EE;
$blue3: #5563B0;
$blue4: #6D8FCF;
$blue5: #8AA5D9;
$blue6: #A7BCE2;
$blue7: #7285F6;

$violet: #9C7ECE;
$violet1: #A085C7;
$violet2: #9473D6;
$violet3: #9F70D1;
$violet4: #9366CC;
$violet5: #A48EF3;
$violet6: #B362E8;
$violet7: #C776FA;
$violet8: #B05EE4;
$violet9: #C987F2;
$violet10: #5D4FF0;
$violet11: #BD80F0;
$violet12: #DEBFF7;
$violet13: #AC60EC;
$violet14: #564FF2;
$violet15: #9452E4;
$violet16: #604AD2; 
$violet17: #8148B1; 
$violet18: #9061A4; 
$violet19: #AB73C3; 
$violet20: #9061A5; 
$violet21: #5144B2; 

$orange:#F8AD9B;
$orange1:#F49190;
$orange2:#ED9389;
$orange3:#EE9D93;
$orange4:#F4B89F;
$orange5:#F49976;
$orange6:#F9A050;
$orange7:#FFC2C7;
$orange8:#FFA76B;
$orange9: #F8B676;
$orange10: #F37960;
$orange11: #FFE8B5;
$orange12: #DB915C;

$yellow:#E4B342;
$yellow1: #F0BC45;
$yellow2: #C9951D;
$yellow3: #C79C39;

$pink:#D585A6;
$pink1:#DB7297;
$pink2:#D85C86;
$pink3:#CD489E;
$pink4:#AF3A81;
$pink5:#B73E88;
$pink6:#C96BA6;
$pink7:#F63E91;
$pink8:#B13AAC;
$pink9:#AA1675;
$pink10:#EA4A8F;
$pink11:#B33C85;
$pink12:#E53F45;
$pink13:#FF6772;

$skyblue: #387BEA;
$skyblue1: #4878E2;
$skyblue2: #6D97E9;
$skyblue3: #2884FC;

$green: #46C5B0;
$green1: #3B9EAB;
$green2: #4EB2AC;
$green3: #217772;
$green4: #59B7ED;
$green5: #77DEE2;
$green6: #6ABEBE;
$green7: #92B8A0;
$green8: #348D91;
$green9: #35A7AA;
$green10: #015B85;
$green11: #7DD7DE;
$profile-active: #2BD094;

$darkblue: #111558;
$darkblue1: #0D1042;
$darkblue2: #282E53;
$darkblue3: #526B9B;
$darkblue4: #374868;
$darkblue5: #2E3E83;
$darkblue6: #567CDA;
$darkblue7: #334A82;

$brown: #803439;
$brown1: #BF4D56;

$red:#ff0000;